//Bulma Overrides
$yellow: #D9C077
$white-ter: #D0D3D9
$grey-darker: #242426

$family-sans-serif: 'Raleway','Avenir Next','Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif
$primary: $yellow
$mobile: 576px !default

//Bulma Imports
@import "bulma/sass/utilities/_all.sass"
@import "bulma/sass/base/_all.sass"
@import "bulma/sass/components/navbar.sass"
@import "bulma/sass/elements/button.sass"

@import "./headers.sass"
