//Bulma Overrides
@import "./variables.scss"

$grey-darker: #242426
$grey-dark: hsl(0, 0%, 29%)
$grey: hsl(0, 0%, 42%)
$grey-light: hsl(0, 0%, 71%)
$grey-lighter: hsl(0, 0%, 86%)
$white-ter: #ffffff //#D0D3D9

$body-background-color: $grey-darker
$family-sans-serif: 'Raleway','Avenir Next','Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif
$text: $grey-darker
$primary: $blue
$dark-invert: #ffffff
$mobile: 576px !default
$super-hd: 2560px !default
$radius-small: 0px !default
$radius: 0px !default
$radius-large: 0px !default

$navbar-background-color: transparent
$navbar-breakpoint: 2560px
$navbar-height: 6.25rem
$navbar-item-color: $yellow
$navbar-item-hover-color: #ffffff
$navbar-item-hover-background-color: transparent
$navbar-padding-horizontal: 3rem
$navbar-padding-vertical: 0.5rem

$button-border-width: 4px !default
$control-border-width: $button-border-width !default
$button-padding-horizontal: 2rem

// Global
.button
  font-weight: 700
.has-text-weight-extra-bold
  font-weight: 800 !important
.has-text-weight-black
  font-weight: 900 !important
*:-moz-selection
  background: $grey-darker !important
  color: #ffffff !important
  text-shadow: none
*::selection
  background: $grey-darker !important
  color: #ffffff !important
  text-shadow: none

.subtitle strong, .title strong
  letter-spacing: .125rem
  text-transform: uppercase

.section:not(.override-default)
  background-color: #ffffff

svg
  display: block

hr.brand-period
  width: 1rem
  height: 1rem
  margin: auto
  background-color: $primary

//Bulma Imports
@import "bulma/sass/utilities/_all.sass"
@import "bulma/sass/base/_all.sass"
@import "bulma/sass/components/navbar.sass"
@import "bulma/sass/components/level.sass"
@import "bulma/sass/elements/button.sass"
@import "bulma/sass/elements/content.sass"
@import "bulma/sass/elements/title.sass"
@import "bulma/sass/elements/container.sass"
@import "bulma/sass/layout/hero.sass"
@import "bulma/sass/layout/section.sass"

@import "./mixins.sass"
@import "./helpers.sass"
@import "./footer.sass"
@import "./headers.sass"
@import "./landing.sass"
@import "./typography.sass"
