// Navbar is an upper-level container of Navigation
.navbar
  .navbar-brand
    .logo-container
      position: relative
      background-color: #242426
      width: 48px
      height: 48px
      margin-left: 34px
      margin-top: 26px
      transition: all 0.5s ease-in-out
      overflow: hidden
      z-index: 4
      svg
        transition: all 0.5s ease-in-out
      &.fullscreen
        position: absolute
        overflow: hidden
        width: 100vw
        height: 100vh
        left: 0
        top: 0
        margin-top: 0px
        margin-left: 0px
      &.nav-is-active
        position: absolute
        overflow: hidden
        width: 100vw
        height: 100vh
        left: 0
        top: 0
        margin-top: 0px
        margin-left: 0px
        svg
          transform: scale(1.5) translate(-20vw, 20vh)
    .navbar-burger
      color: inherit
      transition: color 0.2s, transform 0.5s
      transition-timing-function: cubic-bezier(0.755, 0.050, 0.840, 0.055)
      z-index: 5
      span
        height: 4px
        left: calc(50% - 16px)
        transition-duration: 0.5s
        width: 32px
        &:nth-child(1)
          top: calc(50% - 6px)
          transition-delay: 0.2s
        &:nth-child(2)
          top: calc(50% + 6px)
          transition-delay: 0.2s
      // Modifiers
      &:focus, &:hover
        background-color: transparent
        color: inherit
      &.is-active
        color: $white-ter
        transform: rotate(180deg)
        transition: color 1s, transform 0.5s
        span
          &:nth-child(1)
            transform: translateY(6px) rotate(45deg)
          &:nth-child(2)
            transform: translateY(-6px) rotate(-45deg)
            opacity: 1
        &:focus, &:hover
          color: $white-ter
  .nav
    .navbar-menu
      height: 0
      &.is-active
        height: auto
        opacity: 1
        overflow: visible
        transition: all 1s ease-in-out
        transition-delay: 0.5s

  // Media Queries
  +from($mobile)
    .navbar-brand
      margin-left: 2rem
      margin-right: 0rem

// Navigation
.nav
  left: 0px
  position: absolute
  top: 0px
  .navbar-menu
    box-shadow: none
    color: $grey-light
    display: flex
    flex-flow: column wrap
    height: 0
    max-height: 100vh !important
    opacity: 0
    overflow: hidden
    padding: 0rem 0rem 0rem 0rem
    position: relative
    transition: all 0.2s ease-in-out
    z-index: 4
    .navbar-start
      font-size: 2rem
      font-weight: 900
      left: 38vw
      order: 2
      position: relative
      text-transform: uppercase
      .nav-items
        display: flex
        flex-flow: column wrap
    .navbar-end
      font-size: 0.75rem
      top: 4rem
      order: 1
      padding: 1rem
      position: relative
      hr
        background-color: $grey-dark
        width: 32px
      a
        color: $grey-light
        &:hover, &:focus
          color: #FFFFFF
          text-decoration: underline
    //.navbar-menu Media Queries
    +tablet
      left: 38vw
      top: 20vh
      flex-flow: row wrap
      .navbar-start
        top: unset
        left: unset
        order: 1
      .navbar-end
        top: unset
        left: unset
        order: 2
    +mobile
      top: 10vh
      .navbar-start
        top: 12vh
        left: 5vw
        order: 1
        .nav-items
          flex-flow: row wrap
      .navbar-end
        order: 2
        top: 15vh
        left: 38vw
    @media (max-width: 480px)
      top: 0
      .navbar-start
        left: 38vw
        order: 2
        .nav-items
          flex-flow: column wrap
      .navbar-end
        order: 1
        top: 4rem
        left: 0
